<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>307024858504-anc5vhgim1apg9ma25e3gcl60ff57r5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.307024858504-anc5vhgim1apg9ma25e3gcl60ff57r5j</string>
	<key>API_KEY</key>
	<string>AIzaSyC0NfwR6yAj5H82UPllL_tt7Y9QlJSbuVM</string>
	<key>GCM_SENDER_ID</key>
	<string>307024858504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChatSetup</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3-78b33</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3-78b33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:307024858504:ios:b7ac7f95925e1e55befe3d</string>
</dict>
</plist>